$color_1: #454545;
$color_2: $color_t;
$color_3: #3b4451;
$color_4: $color_int;
$color_5: #3d3d3d;
$color_6: #000;
$color_7: #ea1303;
$color_8: #999;
$color_9: #fff;
$color_10: #696969;
$font_family_1: $fonttext_f3;
$font_family_2: 'Roboto Condensed';
$font_family_3: Roboto Condensed;
$font_family_4: $fonttext_f2;
$font_family_5: roboto condensed;
$background_color_1: transparent;
$background_color_2: #0e7513;
$border_color_1: #0e7513;
$border_color_2: #6b8d2c transparent transparent transparent;
$border_color_3: #bf4138 transparent transparent transparent;

.box_design_full {
	.img_static {
		overflow: hidden !important;
		a {
			&:hover {
				img {
					-webkit-transform: scale(1.4);
					transform: scale(1.4);
					-webkit-transition: all .8s ease-in-out;
					transition: all .8s ease-in-out;
				}
			}
			&:focus {
				img {
					-webkit-transform: scale(1.4);
					transform: scale(1.4);
					-webkit-transition: all .8s ease-in-out;
					transition: all .8s ease-in-out;
				}
			}
		}
	}
	.design_color {
		display: inline-block;
		width: 100%;
		padding: 20px 5px 0;
		span.item_p {
			width: 13%;
			height: 22px;
			float: left;
			background: #ccc;
			display: block;
			padding: 0;
			margin: 0 6px 0 0;
		}
	}
	.design_name {
		text-align: center;
		color: $color_1;
		padding: 0 15px 3px 15px;
		font-size: 15px;
		padding: 10px 0 0 0;
		border-top: none;
		margin: 5px 0;
		font-family: $font_family_1;
		a {
			color: $color_2;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 14px;
		}
	}
	.design_descriptc {
		color: $color_3;
		font-size: 13px;
	}
	.img_static_one {
		display: block;
		overflow: hidden;
		text-align: center;
	}
	.img-wrap {
		background: none repeat scroll 0 0 #fff;
		height: 100%;
		overflow: hidden;
		padding-bottom: 100%;
		position: relative;
		width: 99%;
	}
	.design_price {
		color: $color_4;
		font-size: 17px;
		text-align: center;
		display: inline-block;
		width: 100%;
		b {
			text-decoration: line-through;
			font-size: 15px;
			color: $color_5;
			margin: 6px 0 0 0;
			font-weight: normal;
			font-family: $font_family_2;
		}
		i {
			font-style: normal;
			font-size: 14px;
		}
		span {
			font-family: $font_family_2;
			font-weight: normal;
			text-transform: none;
			font-size: 15px;
			color: $color_6;
			letter-spacing: 0;
			margin: 6px 0 0 0;
			float: none;
			display: -webkit-box;
			display: -webkit-flex;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
		}
		strong {
			font-family: $font_family_2;
			font-weight: bold;
			text-transform: none;
			font-size: 15px;
			color: $color_7;
			letter-spacing: 0;
			margin: 6px 0 0 0;
			float: left;
		}
		.price-range {
			width: 100%;
			display: inline-block;
		}
	}
	.order {
		display: block;
		margin: 10px 0 0 0;
		b {
			font-weight: normal;
			float: left;
			font-size: 13px;
			width: 100%;
			margin: 15px 0 0 0;
			a {
				-moz-user-select: none;
				background-color: $background_color_1;
				background-image: none;
				border: 0 solid #fff;
				border-radius: 0;
				color: $color_8;
				cursor: pointer;
				display: inline-block;
				font-size: 13px;
				font-weight: normal;
				line-height: 1.42857;
				margin: 0;
				padding: 0 12px;
				text-align: center;
				text-decoration: underline;
				vertical-align: middle;
				white-space: nowrap;
			}
		}
		a {
			margin: 5px 0 10px 0;
			-moz-user-select: none;
			background-image: none;
			border: 1px solid transparent;
			border-radius: 4px;
			cursor: pointer;
			display: inline-block;
			font-size: 14px;
			font-weight: normal;
			line-height: 1.42857;
			padding: 6px 22px;
			text-align: center;
			vertical-align: middle;
			white-space: nowrap;
			background-color: $background_color_2;
			border-color: $border_color_1;
			color: $color_9;
			text-decoration: none;
			font-family: $font_family_3;
		}
		img {
			width: 140px;
			clear: both;
		}
		.visible_mobile {
			display: none;
		}
	}
}
.box_design_full.widget_3 {
	min-height: auto;
}
.box_design_full.widget_4 {
	min-height: auto;
}
.box_design_full.widget_5 {
	min-height: auto;
}
.box_design_full.widget_6 {
	min-height: auto;
}
.box_design_full.widget_7 {
	min-height: auto;
}
.widget_7 {
	.design_price {
		span {
			font-size: 13px !important;
		}
		b {
			font-size: 13px !important;
		}
		strong {
			font-size: 13px !important;
		}
	}
}
.box_design_full.widget_8 {
	min-height: auto;
}
.widget_8 {
	.img_static {
		.preview {
			a {
				width: 110px;
			}
		}
	}
	.design_price {
		span {
			font-size: 13px !important;
		}
		b {
			font-size: 13px !important;
		}
		strong {
			font-size: 13px !important;
		}
	}
}
.box_design_full.active_border {
	padding: 6px;
	border: 1px solid #ececec;
}
.clearout {
	height: 20px;
	clear: both;
}
#flexiselDemo1 {
	display: none;
}
#flexiselDemo2 {
	display: none;
}
#flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 99999px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	position: relative;
	overflow: hidden;
	float: left;
	width: 100%;
	background: #fcfcfc;
	background: #fcfcfc -moz-linear-gradient(top,#fcfcfc 0%,#eee 100%);
	background: #fcfcfc -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcfcfc),color-stop(100%,#eee));
	background: #fcfcfc -webkit-linear-gradient(top,#fcfcfc 0%,#eee 100%);
	background: #fcfcfc -o-linear-gradient(top,#fcfcfc 0%,#eee 100%);
	background: #fcfcfc -ms-linear-gradient(top,#fcfcfc 0%,#eee 100%);
	background: #fcfcfc linear-gradient(top,#fcfcfc 0%,#eee 100%);
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: none !important;
	border: none !important;
	.nbs-flexisel-nav-right {
		padding: 5px 10px;
		border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		position: absolute;
		cursor: pointer;
		z-index: 4;
		top: 40%;
		background: rgba(0,0,0,0.5);
		color: $color_9;
	}
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0;
	cursor: pointer;
	position: relative;
	div {
		max-width: 100%;
		cursor: pointer;
		position: relative;
		padding: 0 5px;
	}
}
.nbs-flexisel-nav-left {
	padding: 5px 10px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	position: absolute;
	cursor: pointer;
	z-index: 4;
	top: 40%;
	background: rgba(0,0,0,0.5);
	color: $color_9;
	left: 10px;
	&:before {
		content: "<";
	}
}
.nbs-flexisel-nav-right {
	padding: 5px 10px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	position: absolute;
	cursor: pointer;
	z-index: 4;
	top: 40%;
	background: rgba(0,0,0,0.5);
	color: $color_9;
	right: 5px;
	&:before {
		content: ">";
	}
}
.nbs-flexisel-nav-left.disabled {
	opacity: .4;
}
.nbs-flexisel-nav-right.disabled {
	opacity: .4;
}
#contenedor-box-widgt-pro {
	width: 100% !important;
	position: relative;
	float: left;
	.box_design_full {
		cursor: pointer;
		margin: 0 0 10px;
		padding: 6px;
		position: relative;
		text-align: center;
		height: auto;
		width: 100%;
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		align-items: center;
		background-position: left bottom;
		background-repeat: no-repeat;
		background-image: -ms-linear-gradient(bottom,#f4f4f4 0,#fdfdfd 15%,#fff 80%);
		background-image: -moz-linear-gradient(bottom,#f4f4f4 0,#fdfdfd 15%,#fff 80%);
		background-image: -o-linear-gradient(bottom,#f4f4f4 0,#fdfdfd 15%,#fff 80%);
		background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#f4f4f4),color-stop(.2,#fdfdfd),color-stop(.6,#fff));
		background-image: -webkit-linear-gradient(bottom,#f4f4f4 0,#fdfdfd 15%,#fff 80%);
		background-image: linear-gradient(to top,#f4f4f4 0,#fdfdfd 15%,#fff 80%);
		float: left;
		.img_static {
			display: inline-block;
			height: auto;
			width: 100%;
			position: relative;
			overflow: hidden !important;
			a {
				position: relative;
				height: 0;
				padding-top: 100%;
				display: block;
				overflow: hidden;
			}
			img {
				width: auto;
				max-width: 100%;
				max-height: 100%;
				margin: auto;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
			}
			.preview {
				position: absolute;
				color: $color_10;
				width: 100%;
				height: 30px;
				display: none;
				margin: 0 0;
				z-index: 150;
				bottom: 0;
				a {
					cursor: pointer;
					border: none;
					padding: 6px 4px !important;
					font-size: 11px;
					text-decoration: none;
					display: inline-block !important;
					border-radius: 2px;
					width: 110px !important;
					height: auto !important;
					background: #000;
					text-align: center;
					margin: 0;
					letter-spacing: 1px;
					font-weight: normal;
					color: $color_9;
					font-family: $font_family_4;
					text-transform: uppercase;
					opacity: .8;
				}
			}
		}
		.box-design-info {
			height: 60px;
			min-height: 60px;
			overflow: hidden;
			margin-top: 5px;
			.design_name {
				position: relative;
				height: auto;
				max-height: 40px;
				padding: 0 10px 0 10px;
				margin: 0 0 2px 0;
				display: flex;
				display: -webkit-flex;
				-webkit-justify-content: center;
				justify-content: center;
				a {
					font-family: $font_family_5;
					text-align: center;
					text-transform: uppercase;
					font-size: 14px;
					line-height: 1.3;
					color: $color_6;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
				}
			}
			.design_descriptc {
				position: relative;
				height: 20px;
				min-height: 20px;
				padding: 0 10px 0 10px;
				overflow: hidden;
				p {
					text-align: center;
					font-size: 14px;
					color: $color_3;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					line-height: 1.6;
				}
			}
		}
		.design_price {
			font-size: 15px;
			height: 71px;
			bottom: 0;
			margin: 0 0 10px 0;
			display: flex;
			-webkit-flex-flow: wrap;
			flex-flow: wrap;
			-webkit-flex-content: space-around;
			justify-content: space-around;
			-webkit-align-items: center;
			align-items: center;
			position: initial;
			overflow: hidden;
			div {
				display: -webkit-box;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-flow: wrap;
				flex-flow: wrap;
				-webkit-align-items: center;
				align-items: center;
				-webkit-justify-content: space-around;
				justify-content: space-around;
				width: 80%;
			}
			strong {
				font-size: 15px;
			}
			i {
				position: absolute;
				right: -10px;
				background: rgba(244,67,54,0.82);
				padding: 6px;
				top: 40px;
			}
		}
	}
}
.label-nuevo {
	font: 700 14px/12px Arial,Helvetica,sans-serif;
	color: $color_9;
	background: #cddc39;
	text-transform: uppercase;
	padding: 9px 0 7px;
	text-shadow: 1px 1px rgba(0,0,0,0.24);
	width: auto;
	text-align: center;
	display: block;
	position: absolute;
	padding: 6px 10px 6px 10px;
	right: -10px;
	top: 8px;
	z-index: 1;
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	&:before {
		position: absolute;
		bottom: -6px;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7px 10px 0 0;
		border-color: $border_color_2;
		content: ".";
		text-indent: -5000px;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
	}
}
.label-oferta {
	font: 700 14px/12px Arial,Helvetica,sans-serif;
	background: rgba(244,67,54,0.82);
	color: $color_9;
	text-transform: uppercase;
	padding: 9px 0 7px;
	text-shadow: 1px 1px rgba(0,0,0,0.24);
	width: auto;
	text-align: center;
	display: block;
	position: absolute;
	padding: 6px 10px 6px 10px;
	right: 0;
	top: 40px;
	z-index: 1;
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	&:before {
		position: absolute;
		bottom: -6px;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7px 10px 0 0;
		border-color: $border_color_3;
		content: ".";
		text-indent: -5000px;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
	}
}
.box-widget {
	z-index: 100;
	max-width: 100%;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	-webkit-box-shadow: 0 0 5px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 5px -1px rgba(0,0,0,0.75);
	box-shadow: 0 0 5px -1px rgba(0,0,0,0.75);
}
.box-tit-pro {
	height: auto;
}
.tit-pro {
	-webkit-line-clamp: 3;
}
.box-des-pro {
	height: auto;
}
.des-pro {
	-webkit-line-clamp: 2;
}
.contenedor-box-widgt-pro {
	.box_design_full {
		background: #fff;
		background: -moz-linear-gradient(top,#fff 89%,#f9f9f9 100%);
		background: -webkit-linear-gradient(top,#fff 89%,#f9f9f9 100%);
		background: linear-gradient(to bottom,#fff 89%,#f9f9f9 100%);
	}
}
.slick-slide {
	padding: 0 10px 0 10px;
	.box_design_full {
		.box-design-info {
			display: -webkit-box;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: column;
			-webkit-align-items: center;
			align-items: center;
		}
	}
	.box-widget {
		position: relative;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
.content {
	.backg_content {
		padding: 10px;
	}
}
@media (min-width:768px) and (max-width:991px) {
	.browse {
		display: none;
	}
	.box_design_full {
		.img_static {
			img {
				width: 100%;
			}
		}
	}
	.showing_text {
		span {
			padding: 0 5px;
		}
	}
	.showing_link {
		margin: -21px 0 10px 0;
		position: absolute;
		right: 0;
	}
}
@media (max-width:767px) {
	.bredcrumb {
		overflow: visible;
		text-align: left;
		margin-top: 0;
		margin-bottom: 0;
		float: left;
		width: 100%;
		border-bottom: 1px solid $color_t;
		padding-bottom: 5px;
	}
	.page_breadcrumb {
		overflow: visible;
		text-align: left;
		margin-top: 0;
		margin-bottom: 0;
		float: left;
		width: 100%;
		border-bottom: 1px solid $color_t;
		padding-bottom: 5px;
	}
	.breadcrumb {
		overflow: visible;
		text-align: left;
		margin-top: 0;
		margin-bottom: 0;
		float: left;
		width: 100%;
		border-bottom: 1px solid $color_t;
		padding-bottom: 5px;
	}
	.catalog_bnr {
		margin: 0 0 0 0;
	}
	.h1_title {
		h1 {
			display: none;
		}
	}
	.box_design_full {
		.img_static {
			.preview {
				display: none !important;
			}
			img {
				display: inline-block;
				text-align: center;
			}
		}
		.design_name {
			text-align: center;
		}
		.design_price {
			text-align: center;
			display: inline-block;
		}
    }
	.showing {
		margin: 0 0 10px;
		border-top: 0 solid;
		.showing_text {
			font-size: 11px;
			margin-top: 3px;
		}
	}
	.catgfilter {
		.headercf {
			a {
				height: auto;
				font-size: 14px;
				font-weight: bold;
				letter-spacing: -1px;
				margin: 1px 0 0;
				text-transform: uppercase;
			}
		}
	}
	#contenedor-box-widgt-pro {
		.box_design_full {
			min-height: auto;
			display: -webkit-box;
			display: -webkit-flex;
			display: flex;
			flex-direction: column;
		}
	}
}
@media (max-width:991px) and (min-width:768px) {
	.box_design_full {
		.img_static {
			img {
				max-width: 100%;
			}
		}
	}
}
