$color_p = #000
$color_s = #212121
$color_t = #3D3D3D
$color_f = #d7ab9e
$color_b = #797979
$color_int = #000
$color_title = #000
$fonttext = 'Arial'
$fonttext_f1 ='OpenSans-Bold'
$fonttext_f2 ='OpenSans-Semibold'
$fonttext_f3 ='OpenSans'
$font_size_h1 = 25px
$font_size_h2 = 14px

.thanks_main_cntn
	display inline-block
	margin 0 0 70px 0
	width 100%
	font-family $fonttext_f3
	.page_title
		color $color_int
		font-size 75px
		display block
		font-family $fonttext_f3
		text-transform uppercase
		padding 15px 0 15px 0
		font-weight normal
		line-height 55px
		text-align center
		display inline-block
		width 100%
	.thanks_cntn_info
		h4
			font-size 25px
			line-height 20px
			color $color_int
			font-family $fonttext_f3
			text-align center
			margin 10px 0 20px 0
			display inline-block
			width 100%
		p
			font-size 18px
			margin 0px
			line-height 20px
			color $color_t
			font-family $fonttext_f3
			text-align center
			border-top 1px solid #ddd
			padding 25px 0
		a
			font-size 18px
			line-height 20px
			color $color_title
			font-family $fonttext_f3
			text-align center
			display inline-block



.order_detail
	color #333
	h2
		font-family $fonttext_f3
		text-align left
		border-bottom 0px
		text-transform uppercase
		font-size 22px
		color $color_title
		margin 0px 10px 30px 0px
		padding 0px 0 10px 0
	.to_order, .from_order, .your_order, .payment_method
		margin 20px 0 20px

		strong
			font-size 30px
			color $color_title
			font-weight normal
			width 100%
			float left
			margin 10px 0 10px 0
			text-transform uppercase
			font-family $fonttext_f3
			span
				font-size 18px
				font-weight normal
		p
			margin 0 0 2px 0
			display inline-block
			width 100%
			font-size 17px
			color $color_t
			font-family $fonttext_f3

			span
				width 130px
				float left
			small
				width auto
				float left
				font-size 14px
				font-weight bold

	.payment_method
		.payment_method_order
			height 50px
			display block
			width 100%
			margin 10px 0 -4px 0
	.paymeans_btn
		text-align center
		display inline-block
		margin 35px 0 0 0
		.button_paynow
			padding 8px 55px 5px


	.product_list
		margin 45px 0 0 0
		display block
		.row_header
			border-bottom  1px solid #dde0e2
			margin  -12px 0 0px 0
			padding  0 0 5px 0
			.title
				font-size 17px
				width 100%
				text-align left
				display block
				font-weight normal
				color $color_title
			.title_right
				color $color_title
				text-align right
				font-size 17px
				width 100%
				display block
				font-weight normal

		.row_item
			display block
			padding 10px 0 0 0
			border-bottom 1px solid #dde0e2
			p
				font-size 14px
				margin 8px 0 2px 0
				img
					margin -10px 0 8px 0
			b
				font-weight normal
				font-size 16px


			.item_qty
				width 100%
				text-align center
				display block
				input
					width 50px
					border  1px solid #dde0e2
					text-align  center
					color  #999
					font-size  13px
					padding  2px 0px
				span
					color: #EF8703;
					font-weight: bold;
					line-height: 15px;
					font-size: 12px;
					margin: 10px 0 0 0;
					width: 100%;
					float: left;


			.item_price
				width 100%
				text-align right
				display block
				span
					color $color_t
					font-size 17px
					font-weight normal
			.item_subtotal
				width 100%
				text-align right
				display block
				span, b
					color $color_t
					font-size 17px
					font-weight normal
		.saved
			border-top 1px solid #dde0e2
			border-bottom none


	.summary_orderdetail
		hr
			border-top 1px solid #dde0e2


		.summary
			margin 25px 0 0 0
			display block
			p
				span
					font-size 15px
			.item_subtotal, .item_ship, .item_tax, .item_total
				span
					font-weight normal
					color $color_t
				b
					float right
					font-size 17px
					font-weight normal
					color initial
			.item_ship
				color $color_s
			.item_total
				color $color_title
				font-weight bold
				font-size 18px
				span
					font-size 17px
					font-weight normal
					color $color_title



.trans_info
	width 80%
	margin 0 auto 100px auto

	h6
		color $color_int
		font-size 25px
		display block
		font-family $fonttext_f3
		text-transform uppercase
		padding 15px 0 15px 0
		font-weight normal
		line-height 55px
		text-align center
		display inline-block
		width 100%
		border-bottom 1px solid #ddd
		padding 15px 0
		margin 0 0 30px 0
	div
		p
			font-size 14px
			span
				display inline-block
				margin 0 15px 0 0


	strong
		width 100%
		display inline-block
		padding 20px 0
		font-size 15px


@media (min-width:768px) and (max-width:991px)
	.order_detail
		.to_order, .from_order, .your_order, .payment_method
			padding 0 0 0 0px
			border-right 0px

		.paymeans_btn
			margin 25px 0
	.thanks_main_cntn
		margin 0 0 80px 0
		.page_title
			margin 75px 0 15px
@media (max-width:767px)
	.summary_orderdetail
		background #f1f1f1
		padding-bottom 15px
		hr
			border-top 1px solid #fff

	.to_order
		padding 0 0 0 15px

	.order_detail
		.to_order, .from_order, .your_order, .payment_method
			padding 0 0 0 0px
			border-right 0px