$color_p = #000
$color_s = #212121
$color_t = #3D3D3D
$color_f = #d7ab9e
$color_b = #797979
$color_int = #000
$color_title = #000
$color_gray_3 = #797979
$fonttext = 'Arial'
$fonttext_f1 ='OpenSans-Bold'
$fonttext_f2 ='OpenSans-Semibold'
$fonttext_f3 ='OpenSans'

/**TEMPORAL*/
.bredcrumb, .page_breadcrumb, .breadcrumb, .breadcrumbs
	margin-top 10px
	margin-bottom 10px
.page_breadcrumb
	width 1180px
	margin 10px auto  !important
	float none !important
	display block !important
	// padding-left 10px
	// padding-right 10px

/*widget de producto*/
.product_list
	&>.row
		margin 0 !important
/*******BANNERS***************/
.conten-ban
	margin-bottom 10px
	&>.row
		margin 0
	.carousel
		margin-left -10px !important
		margin-right -10px !important
/*GALLERIA DE 1 */
.banner_one_section
	&>.row
		margin 0
/*GALLERIA */
.banner_two_sections,.banner_three_sections,.banner_four_sections
	padding 0

	&>.row
		margin-left -5px
		margin-right -5px
.container
	.container
		width 100%
#content
	// .container-fluid
	// 	padding-left 43px
	// 	padding-right 43px
	.banner_one_section

		img
			display inline-block
			width auto
			text-align center
	.banner_two_sections
		img
			width 100%
	h1
		font-family $fonttext_f2
		text-align center
		border-bottom none
		text-transform uppercase
		font-size 25px
		color $color_title
		line-height 30px
		margin 10px 10px 10px
		padding 0px 0 4px 0
	p
		font-size 14px
		font-family $fonttext_f3
		color #686868
		text-align justify
		margin-top 10px
	ul
		list-style none
		margin 0 0 0 5px
		padding 0 0 0 15px
		li
			line-height 18px
			padding 5px 0
			font-family $fonttext_f3
			font-size 14px
			color #686868
	a
		color $color_a
		text-decoration none
		&:hover
			color $color_a_hover
			text-decoration none
	.info-prod
		li
			line-height 20px
			padding 0
			font-family $fonttext_f3
			font-size 14px
			color #686868
	strong
		font-family $fonttext_f3
		font-size 16px
		margin-bottom 10px
		text-transform capitalize
		color $color_p
		line-height 30px
		font-weight normal

	.cnt_about
		margin-bottom 40px
		display inline-block
		width 70%
		strong
			font-weight  normal
			margin  15px 0 5px 0
			display  inline-block
			font-size  22px
		p
			text-align justify

		blockquote
			font-size 20px
			margin 0 0 35px 0
			display inline-block

	.cnt_faq
		margin-bottom 30px
		display block
		strong
			font-weight  normal
			margin  15px 0 5px 0
			display  inline-block
			font-size  22px
		p
			text-align justify
	.cnt_contact
		margin-bottom 20px
		display block

		strong
			font-weight  normal
			margin  15px 0 5px 0
			display  inline-block
			font-size  22px
		p
			text-align justify
			span
				color $color_p
				font-size 18px
				padding 0 0 0 10px
		b
			font-size 22px
			display block
			margin 45px 0 20px 0
			color #777777

	.cnt_satisfaction_guarantee
		margin-bottom 40px
		display inline-block

		strong
			font-weight  normal
			margin  15px 0 5px 0
			display  inline-block
			font-size  22px
		p
			text-align justify
		b
			font-size 22px
			display block
			margin 45px 0 20px 0
			color #777777
		.cont_right
			text-align center
			display block


	.cnt_ordering
		margin-bottom 20px
		display block

		strong
			font-weight  normal
			margin  15px 0 5px 0
			display  inline-block
			font-size  22px
		p
			text-align justify
		h1
			text-align center
			letter-spacing -1px
			font-size 40px
			margin-top 0px
			margin-bottom 40px
			color #333
		b
			font-size 22px
			display block
			margin 45px 0 20px 0
			color #777777

	.cnt_return
		margin-bottom 30px
		display block
		strong
			font-weight  normal
			margin  15px 0 5px 0
			display  inline-block
			font-size  22px
		p
			text-align justify
		h1
			text-align center
			letter-spacing -1px
			font-size 40px
			margin-top 0px
			margin-bottom 30px
			color #333

	.cnt_shipping
		margin-bottom 30px
		display block
		strong
			font-weight  normal
			margin  15px 0 5px 0
			display  inline-block
			font-size  22px
		p
			text-align justify
		h1
			text-align center
			letter-spacing -1px
			font-size 40px
			margin-top 0px
			margin-bottom 20px
			color #333

	.info_contact
		display block
		margin 45px 0 0 0
		p
			float left
			width 100%
			margin 0 0 25px 0
			i
				font-size 45px
				color $color_p
				margin 4px 25px 0 0
				display inline-block
				float left
			span
				font-family $fonttext_f3
				font-size 35px
				color #000
				display inline-block
				float left
	.ic_top
		margin 5px 0 0 0
	.cnt_mapasitio
		margin-bottom 20px
		display block
		margin-top 50px

		strong
			font-weight  normal
			margin  15px 0 5px 0
			display  inline-block
			font-size  22px
		.space
			width 100%
			height 60px
			float left
		p
			text-align justify
		h1
			text-align center
			letter-spacing -1px
			font-size 55px
			margin-top 0px
			margin-bottom 20px
			color #333
		b
			color #5d5d5d
			font-size 22px
			text-align left
			padding 0px 0px 5px 0px
			letter-spacing -1px
			margin 0 0px 25px
			border-bottom 1px solid #ededed
			width 100%
			float left
			font-weight normal
		a
			float left
			width 20%
			color #999
			&:hover
				color $color_p

	/** CONTENIDO DE Blog **/
	.cnt_blog
		.descrip_blog
			.nom_blog
				h1
					font-weight normal
					margin 0 0 15px 0
					font-size 28px
					color #5d5d5d
					width 100%
		.info_blog
			float left
			width 100%
			margin 0 0 30px 0
			h2
				color  #5d5d5d
				font-size  24px
				font-weight  normal
				letter-spacing  -1px
				margin-bottom  15px
				padding  0 0 5px
				text-align  left
				strong
					color  #5d5d5d
					font-size  24px
					font-weight  normal
					letter-spacing  -1px
					margin-bottom  15px
					padding  0 0 5px
					text-align  left
			h3
				color  #5d5d5d
				font-size  24px
				font-weight  normal
				letter-spacing  -1px
				margin-bottom  15px
				padding  10px 0 5px
				text-align  left
			p
				text-align justify
				color #666666
				font-size 14px
			b

			ol
				margin 20px 0
			li
				color #666666
				margin 8px 0
				font-size 14px
		.feche_blog
			width 100%
			float left
			margin 0px 0 0 0
			p
				margin 0px
		.social_faceb
			width 100%
			float left
			margin 15px 0
			.social_twitter
				width 100%
				float left
				margin 15px 0
				iframe
					margin 0 15px 0 0
		.comentarios_faceb
			width 100%
			float left
			margin 15px 0 0 0

	.contact_blog
			strong
				border-bottom 1px solid #ededed
				color #000
				font-family inherit
				font-size 20px
				letter-spacing  -1px
				margin 0px 0 12px
				padding 0px 0 5px
				font-weight normal
				float left
				width 100%
			ul
				list-style none
				padding 0 0 20px 15px
				float left
				li
					a
						color #777
						line-height 22px
						&:hover
							color $color_p

			p
				font-size 13px
				margin 10px 0 20px
				a
					color #ed1c24
				i
					width 33px
					height 22px
					margin-right 9px
			.icoweb
				background url(../../images/common/ico-web.png) no-repeat
				display block
				float left
			.icotel
				background url(../../images/common/ico-telefono.png) no-repeat
				display block
				float left
			.icomail
				background url(../../images/common/ico-correo.png) no-repeat
				display block
				float left
			.icohora
				background url(../../images/common/ico-horario.png) no-repeat
				display block
				float left
			.icocateg
				background url(../../images/common/ico-categ.png) no-repeat
				display block
				float left
			ul
				font-size 13px
			ol
				margin-left 25px
				li
					font-size 13px

	.landing_blog
		h1
			text-align center
			margin 0px 0 35px 0
			color #000
			line-height 30px

		h3
			border-bottom  1px solid #ededed
			color  #5d5d5d
			font-size  22px
			letter-spacing  -1px
			margin  0 10px 25px
			padding  0 0 5px
			text-align  left
		.item
			display inline-block
			margin 0 0 40px 0
			img
				padding 3px
				border 1px solid #eee
				margin 5px 0 0
				&:hover
					opacity 0.7
			strong
				font-size 18px
				font-weight normal
				a
					color #333
					&:hover
						color $color_p

			p
				font-size 13px
				margin 0 0 3px 0
				text-align justify
			b
				margin 5px 0
				float left
				width 100%
				font-weight normal


			.moreinfo
				color #f76d10
			.btnir
				text-align center
				.btniratienda
					margin 25px 0 0 0
					text-align center
.section_categ
	font-family $fonttext_f3
	color $color_title
	// display none
	strong
		border-bottom 1px solid #ccc
		font-size 20px
		font-family $fonttext_f3
		margin-bottom 10px
.pagination
	margin 50px 0 0 0
	display inline-block
	width 100%
	text-align center
	strong
		font-weight normal
		padding 0 5px
	big
		padding 0 15px
		display inline-block
	a
		padding 0 5px
.article__meta
	padding 0
	li
		list-style none
		display inline-block
	.categoria,.autor
		display none
.item_post
	margin 10px 0 65px 0
	display inline-block
	width 100%
	h1
		font-family $fonttext_f2
		font-size 23px
		color $color_title
		text-transform uppercase
		a
			font-family $fonttext_f2
			font-size 23px
			color $color_title
			text-transform uppercase
	img
		display inline-block
		margin-bottom 10px
	b
		display inline-block
		margin 10px 15px 10px 0
		font-weight normal
		i
			margin 0 3px
	.categoria,.autor
		display none

	p
		font-size 14px
		font-family $fonttext_f3
		text-align justify
.volver
	.btn-volver
		background $color_boton_primario
		border-color $color_boton_primario_hover
		color #fff
		padding 8px 25px
		text-align center
		&:hover
			background $color_boton_primario_hover
			border-color $color_boton_primario_hover
.pagination_wrapper
	strong
		font-family $fonttext_f3
		font-weight normal
		font-size 13px

.viewmore
	font-family $fonttext_f3
	margin-top 25px
	.btn-viewmore
		background $color_boton_primario
		border-color $color_boton_primario_hover
		color #fff
		padding 8px 25px
		text-align center
		&:hover
			background $color_boton_primario_hover
			border-color $color_boton_primario_hover
.cnt_blog_left
	margin-left -10px

.list_categ,.list_create
	display none
	width 100%
	padding 0 0 0 30px
	strong
		font-size 18px
		font-family $fonttext_f3
		font-weight normal
		border-bottom 1px solid #ccc
		margin 10px 0
		padding 0 0 6px 0
		display inline-block
		width 100%

	ul
		list-style none
		padding 0
		margin 0
		li
			display block
			line-height 20px
			font-size 15px
			padding 0 0 10px 0
			font-family $fonttext_f3
			a
				color $color_title
.blog_store
	display inline-block
	width 100%
	padding 0 0 0 20px
	h3
		font-size 18px
		font-family $fonttext_f3
		font-weight normal
		border-bottom 1px solid #ccc
		margin 10px 0
		padding 0 0 6px 0
		display inline-block
		width 100%

/****contenido del blog lado derecho****/
.blog_item
	display inline-block
	width 100%
	margin 10px 0
	.blog_img
		display inline-block
		margin-top 15px
		width 100%
	.blog_title
		font-family $fonttext_f2
		font-size 17px
		line-height 20px
		margin 10px 0
		a
			color $color_title
	.blog_descript
		display none
	.more
		display none
// .banner_four_sections
// 	padding 0 10px


@media (min-width:992px) and (max-width:1199px)
	.page_breadcrumb
		width 980px

@media (min-width:768px) and (max-width:991px)
	.page_breadcrumb
			width 740px

@media (max-width:767px)
	.page_breadcrumb
		width 100%
		padding-left 0
		padding-right 0
	.info_contact
		p
			span
				font-size 25px

	#content
		.cnt_about
			width 99%
		// .container-fluid
		// 	padding-left 10px
		// 	padding-right 10px
	// .banner_one_section,.banner_two_section,.banner_three_sections,.banner_four_sections
	// 	padding 0 10px
	.item_post
		h1
			a
				font-size 16px
	.blog_store
		display none

